<include src="./src/components/nav.html"/>

<div class="flex flex-col     items-center gap-6 justify-center mx-auto">
    <div class="flex p-2 flex-col items-center gap-2">
        <img src="./dist/vader/icon.jpeg" alt="logo" class="   ">
        <h1 class="text-4xl mx-2 font-bold">Vader.js</h1>
        <h1 class="mt-2 text-lg">A fast reactive library built to enhance your spa workflows</h1>
        <div class="flex flex-row gap-2">
            <button class="btn bg-rose-500 text-white border-none hover:bg-rose-500 rounded-full mt-8">Get
                Started</button>
            <button class="btn bg-[#121212] hover:bg-[#121212] text-white rounded-full border-none mt-8">Api
                Reference</button>
        </div>
        
        
    </div>

 
    <div>

    </div>

</div>
