<include src="./src/components/nav.html"/>

<div class="flex flex-col     items-center gap-6 justify-center mx-auto">
    <div class="flex p-2 flex-col items-center gap-2">
        <img src="./dist/vader/icon.jpeg" alt="logo" class="   ">
        <h1 class="text-4xl mx-2 font-bold">Vader.js</h1>
        <h1 class="mt-2 text-lg">A fast reactive library built to enhance your spa workflows</h1>
        <div class="flex flex-row gap-2">
            <button class="btn bg-rose-500 text-white border-none hover:bg-rose-500 rounded-full mt-8">Get
                Started</button>
            <button class="btn bg-[#121212] hover:bg-[#121212] text-white rounded-full border-none mt-8">Api
                Reference</button>
        </div>
        <h1 class="text-lg mt-24 mb-2">Reusable Components & State Management</h1>
        <div class="flex flex-row   flex-wrap">
            <img src="./public/images/component.png" alt="logo"  width="570" class="  ">
            <div class="relative">
                <img src="./public/images/window.png" alt="logo"  width="750" class="  ">
                <div class="absolute top-0 left-0 w-full h-full flex flex-col items-center justify-center">
                    <h1 class="text-2xl text-white font-bold">Count: ${states.count}</h1>
                    <button class="text-white bg-rose-500 rounded-full px-4 py-2 mt-2" onclick="increment()">Increment</button>
                </div>
            </div>
        </div>
        
    </div>

 
    <div>

    </div>

</div>