<div class="navbar bg-base-100 p-2">
    <div class="flex-1">
      <img src="./dist/vader/icon.jpeg" alt="logo" class="w-16 rounded-full  ">
      <a href="#/" class="font-bold text-2xl hover:text-sky-500 hover:cursor-pointer">Vader.js</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
       
        <li>
          <details>
            <summary>
              About
            </summary>
            <ul class="p-2 bg-base-100 w-32">
              <li><a href="#/about">About Vader</a></li>
              <li><a>Developers</a></li>
            </ul>
          </details>
        </li>
        <li><a>Docs</a></li>
      </ul>
    </div>
  </div>
